{%extends "admin-layout.html"%}
{%block content%}
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-8">    
            <h1>Add Quiz</h1>
            <div class="input_form">
              <form action="/admin/quiz/{{name}}" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                      </div>
                      <div class="mb-3">
                        <label for="cid" class="form-label">Chapter ID</label>
                        <input type="text" class="form-control" name="cid" id="cid">
                      </div>
                      <div class="mb-3">
                        <label for="date" class="form-label">date-of-creation</label>
                        <input type="date" class="form-control" name="date" id="date">
                      </div>
                      <div class="mb-3">
                        <label for="duration" class="form-label">quiz duration</label>
                        <input type="time" class="form-control" name="time" id="time">
                      </div>
                      <div class="mb-3">
                    <button type="submit" class="btn btn-primary">create</button>
                    <a href="/admin/{{name}}/quiz" type="button" class="btn btn-primary">Cancel</a>
                </div>
                </form>
            </div>
      </div>
  </div>
  
{%endblock%}              