{%extends "admin-layout.html"%}
{%block content%}       
        <div class="dashpanel">
            <div class="container">
              {%if subjects%}
                <div class="row"
                style="column-gap: 10px; row-gap: 10px;">
                  {%for subject in subjects%}
                  <div class="col">
                    <div class="card" style="width:400px;">
                        <div class="card-body">
                          <h5 class="card-title"><a href="/edit_subject/{{subject.id}}/{{name}}">{{subject.name}}</a></h5>
                          <p class="card-text">{{subject.info}}</p>
                          {%if subject.chapters%}
                          <div class="table-responsive">
                            <table class="table table-striped table-hover text-center">
                              <thead class="thead-dark">
                            <tr><th>ID</th><th>Name</th><th>No of questions</th><th>Action</th></tr>
                              </thead>
                          {%for chapter in subject.chapters%}
                           <tr><th>{{chapter.id}}</th><th>{{chapter.name}}</th><th>{{ chapter.quizs | map(attribute='questions') | map('length') | sum }}</th><th><a href="/edit_chapter/{{chapter.id}}/{{name}}">edit</a></th></tr>
                          {%endfor%}
                        </table>
                      </div>
                        {%else%}
                        <p class="center">no chapters present</p>
                        {%endif%}
                         <a href="/chapter/{{subject.id}}/{{name}}" class="btn btn-outline-primary">Add chapters</a>

                        </div>
                      </div>
                     
                  </div>
                {%endfor%}  
                </div>
                {%else%}
                <h3 class="center">no current quizes</h3>
                {%endif%}
              
            <div class="center" ><a href="/subject/{{name}}" class="btn btn-primary" >Add</a></div>
          </div>
          </div>
{%endblock%}            
        