{% extends "admin-layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
    {% if question %}
        <h1>Edit Question</h1>
        <div class="input_form">
            <form action="/edit_question/{{ question.id }}/{{ name }}" method="POST">
                <div class="mb-3">
                    <label for="qid" class="form-label">QUIZ ID</label>
                    <input type="number" class="form-control" name="qid" id="qid" value="{{ question.qid }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="qs_stmt" class="form-label">Question Statement</label>
                    <input type="text" class="form-control" name="qs_stmt" id="qs_stmt" value="{{ question.qs_stmt }}">
                </div>
                <div class="mb-3">
                    <label for="marks" class="form-label">question marks</label>
                    <input type="number" class="form-control" name="marks" id="marks" value="{{question.marks}}">
                </div>    
                <div class="mb-3">
                    <label for="option1" class="form-label">Option 1</label>
                    <input type="text" class="form-control" name="option1" id="option1" value="{{option.option1}}">
                </div>
            <div class="mb-3">
                    <label for="option2" class="form-label">Option 2</label>
                    <input type="text" class="form-control" name="option2" id="option2" value="{{option.option2}}">
                </div>
            <div class="mb-3">
                    <label for="option3" class="form-label">Option 3</label>
                    <input type="text" class="form-control" name="option3" id="option3" value="{{option.option3}}">
                </div>
            <div class="mb-3">
                    <label for="option4" class="form-label">Option 4</label>
                    <input type="text" class="form-control" name="option4" id="option4" value="{{option.option4}}">
                </div>
                <div class="mb-3">
                    <label for="answer" class="form-label">Correct Answer</label>
                    <input type="text" class="form-control" name="answer" id="answer" value="{{ question.answer }}">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="/delete_qs/{{ question.id }}/{{ name }}" type="button" class="btn btn-primary">Delete</a>
                    <a href="/admin/{{ name }}/quiz" type="button" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}
