{%extends "admin-layout.html"%}
{%block content%}
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-8">
            <h1>Edit Subject</h1>
            <div class="input_form">
              <form action="/edit_subject/{{subject.id}}/{{name}}" method="POST">
                <div class="mb-3">
                    <label for="id" class="form-label">subject ID</label>
                    <input type="number" class="form-control" name="id" id="id" value="{{subject.id}}" readonly>
                  </div>    
                <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{subject.name}}">
                      </div>
                      <div class="mb-3">
                        <label for="info" class="form-label">About information</label>
                        <input type="text" class="form-control" name="info" id="info" value="{{subject.info}}">
                      </div>
                      <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="/delete_sub/{{subject.id}}/{{name}}" type="button" class="btn btn-primary">Delete</a>
                    <a href="/admin/{{name}}" type="button" class="btn btn-primary">Cancel</a>    
                  </div>
                </form>
            </div>
      </div>
  </div>
{%endblock%}              