<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="mycontainer">
        <div class="in_panel">
            <h1> Login</h1>
            
            <div class="input_form">
                <form action="/login" method="POST">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="@gmail.com">
                      
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">login</button>
                    New user ?<a href="signup">sign-up</a>
                    <div class="err">{{msg}}</div>
                </form>
            </div>
        </div>
        <div class="info">
            <h1> THE QUIZ MASTER <br>APP</h1>
        </div>
    </div>
</body>
</html>